/* BULMA COLOR OVERRIDES */
$red: #e74c3c;
$green: #4bbf73;
$blue: #3273dc;
$cyan: #209cee;

/* COLOR */
$color-body-bg: #f7f7f7;
$color-nav-bar: #1C1F21;
$color-hero-is-dark: #2b2e30;
$color-blue-highlight: #00b9fb;

/* CHECKBOX CONTROL */
$color-checkbox-mark: $green;
$color-checkbox-border: #dbdbdb;
$color-checkbox-border-hover: #b5b5b5;

/* AUTHENTICATOR LOADER */
$color-login-success: #1be551;
$color-login-fail: $red;

/* REACT-TOASTIFY OVERRIDES */
$rt-toast-min-height: 78px;
$rt-toast-border-radius: 4px;
$rt-color-info: #1e88e5;

/* BOX-SHADOW */
$dropdown-box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
$dropdown-button-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
$box-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
$settings-box-shadow: 0 2px rgba(17, 16, 15, 0.1), 0 2px 10px rgba(17, 16, 15, 0.1);

/* MIXINS */
@mixin renderTabletNavView {
    @media (max-width: 950px) and (min-width: 600px) {
        @content;
    }
}

@mixin renderMobileNavView {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin removeNavBarPadding {
    @media (max-width: 1099px) {
        @content;
    }
}

@mixin reduceNavBarPadding {
    @media (max-width: 1472px) and (min-width: 1100px) {
        @content;
    }
}