input[type="checkbox"] {
    vertical-align: baseline;
}

.checkbox-control {
    margin-top: .85rem;
    margin-bottom: .85rem;

    input {
        opacity: 0;
        width: 1rem;
        height: 1rem;
        position: absolute;

        &:checked ~ .helper {
            &::after,
            &::before {
                opacity: 1;
                -webkit-transition: height 0.38s ease;
                transition: height 0.38s ease;
                -webkit-transition-delay: 0s;
                transition-delay: 0s;
            }

            &::before {
                height: 1.2rem;
                -webkit-transition-delay: 0.15s;
                transition-delay: 0.15s;
            }

            &::after {
                height: 0.5rem;
            }
        }
    }

    label {
        cursor: pointer;
        position: relative;
        display: block;

        span {
            user-select: none;
            padding-left: 2rem;
        }
    }

    .helper {
        color: $color-checkbox-border;
        background-color: white;
        position: absolute;
        top: 0;
        width: 1rem;
        height: 1rem;
        z-index: 0;
        border: 0.125rem solid currentColor;
        border-radius: 0.0625rem;
        -webkit-transition: border-color 0.38s ease;
        transition: border-color 0.38s ease;

        &::before,
        &::after {
            position: absolute;
            height: 0;
            width: 0.2rem;
            background-color: $cyan;
            display: block;
            transform-origin: left top;
            border-radius: 0.25rem;
            content: "";
            -webkit-transition: opacity 0.38s ease, height 0s linear 0.38s;
            transition: opacity 0.38s ease, height 0s linear 0.38s;
            opacity: 0;
        }

        &::before {
            top: 0.65rem;
            left: 0.38rem;
            -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
        }

        &::after {
            top: 0.3rem;
            left: 0;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    }

    &:not(.disabled) label:hover .helper {
        color: $color-checkbox-border-hover;
    }

    &.disabled {
        label {
            cursor: not-allowed;
        }

        .helper {
            opacity: .7;
        }
    }

    &.is-medium {
        height: 2.25rem;

        .helper {
            width: 1.25rem;
            height: 1.25rem;
            top: inherit;
            margin-top: 0.3rem;

            &::before,
            &::after {
                width: 0.23rem;
            }

            &::before {
                top: 0.8125rem;
                left: 0.475rem;
            }

            &::after {
                top: 0.375rem;
            }
        }

        input {
            opacity: 0;
            left: 0;
            margin-top: 0.3rem;
            width: 1.25rem;
            height: 1.25rem;
            position: absolute;

            &:checked ~ .helper::before {
                height: 1.5rem;
            }

            &:checked ~ .helper::after {
                height: 0.625rem;
            }
        }
    }

    &.menu-list-control {
        display: block;
        padding: 0.55em 0.75em;
        margin-bottom: inherit;

        .helper {
            top: 0.25rem;
        }
    }
}

.remember-me-control {
    text-align: center;

    .checkbox-control {
        line-height: 0.85;
        font-size: 1.15rem;
        font-weight: 400;

        &.is-medium {
            line-height: 2.25;
        }
    }
}