.atomLoader {
    position: relative;
    width: 7em;
    height: 7em;
    top: 0;
    left: 0;
    margin: 1.25em auto auto auto;

    &.success div {
        opacity: 0.6;
        border: .7em solid #1be551;
    }

    &.fail div {
        opacity: 0.6;
        border: .7em solid #e74c3c;
    }

    div {
        opacity: 0.5;
        width: 7em;
        height: 7em;
        border: .7em solid #209cee;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-perspective: 800px;
        perspective: 800px;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        &:nth-child(1) {
            -webkit-animation: rotate-right 1.75s 0s infinite linear;
            animation: rotate-right 1.75s 0s infinite linear;
        }

        &:nth-child(2) {
            -webkit-animation: rotate-left 1.75s 0s infinite linear;
            animation: rotate-left 1.75s 0s infinite linear;
        }
    }
}

@-webkit-keyframes rotate-right {
    0% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }

    100% {
        -webkit-transform: rotateX(180deg) rotateY(360deg) rotateZ(360deg);
        transform: rotateX(180deg) rotateY(360deg) rotateZ(360deg);
    }
}

@keyframes rotate-left {
    0% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }

    100% {
        -webkit-transform: rotateX(360deg) rotateY(180deg) rotateZ(360deg);
        transform: rotateX(360deg) rotateY(180deg) rotateZ(360deg);
    }
}