/* Authenticator.tsx */
.fingerprint-spinner {
    height: 100px;
    width: 100px;
    padding: 2px;
    margin: 1.25em auto auto auto;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;

    &.success {
        > div {
            border-top-color: #16E04C;
        }
    }

    &.fail {
        > div {
            border-top-color: #e74c3c;
        }
    }

    > div {
        position: absolute;
        border-radius: 50%;
        box-sizing: border-box;
        border: 2px solid transparent;
        border-top-color: $blue;
        animation: fingerprint-spinner-animation 1500ms cubic-bezier(0.68, -0.75, 0.265, 1.75) infinite forwards;
        margin: auto;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;

        &:nth-child(1) {
            height: calc(96px / 9 + 0 * 96px / 9);
            width: calc(96px / 9 + 0 * 96px / 9);
            animation-delay: calc(50ms * 1);
        }

        &:nth-child(2) {
            height: calc(96px / 9 + 1 * 96px / 9);
            width: calc(96px / 9 + 1 * 96px / 9);
            animation-delay: calc(50ms * 2);
        }

        &:nth-child(3) {
            height: calc(96px / 9 + 2 * 96px / 9);
            width: calc(96px / 9 + 2 * 96px / 9);
            animation-delay: calc(50ms * 3);
        }

        &:nth-child(4) {
            height: calc(96px / 9 + 3 * 96px / 9);
            width: calc(96px / 9 + 3 * 96px / 9);
            animation-delay: calc(50ms * 4);
        }

        &:nth-child(5) {
            height: calc(96px / 9 + 4 * 96px / 9);
            width: calc(96px / 9 + 4 * 96px / 9);
            animation-delay: calc(50ms * 5);
        }

        &:nth-child(6) {
            height: calc(96px / 9 + 5 * 96px / 9);
            width: calc(96px / 9 + 5 * 96px / 9);
            animation-delay: calc(50ms * 6);
        }

        &:nth-child(7) {
            height: calc(96px / 9 + 6 * 96px / 9);
            width: calc(96px / 9 + 6 * 96px / 9);
            animation-delay: calc(50ms * 7);
        }

        &:nth-child(8) {
            height: calc(96px / 9 + 7 * 96px / 9);
            width: calc(96px / 9 + 7 * 96px / 9);
            animation-delay: calc(50ms * 8);
        }

        &:nth-child(9) {
            height: calc(96px / 9 + 8 * 96px / 9);
            width: calc(96px / 9 + 8 * 96px / 9);
            animation-delay: calc(50ms * 9);
        }
    }
}

@-webkit-keyframes fingerprint-spinner-animation {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fingerprint-spinner-animation {
    100% {
        transform: rotate(360deg);
    }
}