/* NAV-BAR */
.navbar {
  width: 100%;
  background-color: $color-nav-bar;
  padding-left: 7rem;
  padding-right: 7rem;

  @include reduceNavBarPadding {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @include removeNavBarPadding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.navbar-wrapper {
  width: 100%;
  margin: auto;
  -webkit-animation: opacityFadeIn 0.25s both ease;
  animation: opacityFadeIn 0.25s both ease;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
  display: flex;
  height: 70px;
}

.brand-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  width: 46%;
  margin: auto;

  @include renderMobileNavView {
    margin-right: 0.25rem;
  }
}

.navbar-routes {
  font-size: 1.25rem;
  height: 100%;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  justify-content: flex-end;
  margin: auto;
  width: 54%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;

  a.navbar-item {
    color: white;
    opacity: 0.8;
    background-color: transparent;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    border-bottom: 3px solid $color-nav-bar;
    border-top: 3px solid $color-nav-bar;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    height: 100%;

    @include renderMobileNavView {
      font-size: 0.95rem;
      padding: 0.75rem 0.2rem 0.75rem 0.2rem;
    }

    &:not(:first-child) {
      margin-left: 1.25rem;

      @include renderMobileNavView {
        margin-left: 0;
      }
    }

    &:hover {
      color: white;
      background-color: transparent;
      opacity: 1;
    }

    &.is-active {
      color: $color-blue-highlight !important;
      opacity: 1 !important;
      border-bottom: 3px solid $color-blue-highlight !important;
    }

    > svg {
      margin-right: 0.55rem;

      @include renderMobileNavView {
        display: none;
      }
    }
  }
}

/* SETTINGS PLUGIN */
.fixed-plugin {
  position: fixed;
  top: 120px;
  right: 0;
  width: 65px;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1031;
  border-radius: 8px 0 0 8px;
  text-align: center;
  -webkit-transition: background 0.15s ease-in;
  transition: background 0.15s ease-in;
  -webkit-animation: opacityFadeIn 0.25s both ease;
  animation: opacityFadeIn 0.25s both ease;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;

  &:hover,
  &.fixed-plugin-active {
    background: rgba(0, 0, 0, 0.6);
  }

  .fa-cog {
    color: white;
    padding: 10px;
    border-radius: 0 0 6px 6px;
    width: auto;
  }

  .dropdown .dropdown-menu {
    top: 0;
    opacity: 1;
    right: 62px;
    left: auto;
    width: 11rem;
    min-width: 11rem;
    display: block;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: white;
    position: absolute;
    z-index: 1000;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: $settings-box-shadow;
    box-shadow: $settings-box-shadow;

    &::before {
      border-bottom: 16px solid transparent;
      border-left: 16px solid #dbdbdb;
      border-top: 16px solid transparent;
      right: -16px;
      margin-left: auto;
      left: auto;
    }

    &::after {
      border-bottom: 16px solid transparent;
      border-left: 16px solid white;
      border-top: 16px solid transparent;
      right: -15px;
      content: "";
      display: inline-block;
      position: absolute;
      top: 22px;
      width: 17px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 22px;
      width: 17px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  li.header-title {
    line-height: 35px;
    font-size: 18px;
    text-align: center;
    color: #7f888f;
    text-transform: uppercase;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 0.5rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  a.dropdown-item {
    width: 100%;
    font-size: 1rem;
    display: inline-block;
    color: #555;
    padding-right: 1rem;
    z-index: initial;
    pointer-events: visible;

    > svg {
      margin-left: 0.3rem;
      margin-right: 0.3rem;
    }
  }
}
