/* BULMA COLOR OVERRIDES */
$red: #e74c3c;
$green: #4bbf73;
$blue: #3273dc;
$cyan: #209cee;

/* COLOR */
$color-body-bg: #f7f7f7;
$color-nav-bar: #1c1f21;
$color-hero-is-dark: #2b2e30;
$color-blue-highlight: #00b9fb;

/* REACT-TOASTIFY OVERRIDES */
$rt-toast-min-height: 78px;
$rt-toast-border-radius: 4px;
$rt-color-info: #1e88e5;

/* MIXINS */
@mixin renderTabletNavView {
  @media (max-width: 950px) and (min-width: 600px) {
    @content;
  }
}

@mixin renderMobileNavView {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin removeNavBarPadding {
  @media (max-width: 1099px) {
    @content;
  }
}

@mixin reduceNavBarPadding {
  @media (max-width: 1472px) and (min-width: 1100px) {
    @content;
  }
}
