/* Overrides for bulma & react-toastify defaults */
@import 'base/variables.scss';

/* NPM package styles */
@import '~react-toastify/scss/main.scss'; 
@import '~bulma/bulma';

/* Local styles */
@import 'base/generic.scss';
@import 'components/navbar.scss';
@import 'components/tool-tip.scss';
@import 'components/authenticator.scss';